PUBLIC_SUPABASE_URL=<Your supabase URL>
PUBLIC_SUPABASE_ANON_KEY=<Your Supabase Anon Key>
PUBLIC_SUPABASE_REDIRECT_URL_BASE=http://localhost:5173
PUBLIC_SUPABASE_EMAIL_ADDRESS=email@example.com
PUBLIC_VITE_SITE_URL=https://*.vercel.app/
PUBLIC_GEOAPI_KEY=<Your GEOAPI Key>
PUBLIC_GEOSCAPE_ADDRESS_API_KEY=<Your GEOSCAPE_ADDRESS_API Key>
PUBLIC_HERE_API_KEY=<Your HERE_MAPS_API Key>
PUBLIC_NODEMAILER_SERVICE=<Gmail OR Hotmail>
PUBLIC_NODEMAILER_ACCOUNT=<Send From Email Address>
PUBLIC_NODEMAILER_PASSWORD=<Send From Email Password>
PUBLIC_NODEMAILER_SUPBASE_TARGET=<Send Supabase Error Message To Email Address>
