PUBLIC_SUPABASE_URL=<Your supabase URL>
PUBLIC_SUPABASE_ANON_KEY=<Your Supabase Anon Key>
PUBLIC_SUPABASE_REDIRECT_URL_BASE=http://localhost:5173
PUBLIC_SUPABASE_EMAIL_ADDRESS=email@example.com
PUBLIC_MAPTILER_KEY=<Your Maptiler Key>
PUBLIC_GEOAPI_KEY=<Your GEOAPI Key>
