[data-theme='socTheme'] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0.025em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-weight: normal;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-tertiary-800);
    --anchor-font-color-dark: var(--color-primary-500);
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.375rem;
    --radius-container: 0.75rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(97.68% 0.014 308.3deg);
    --color-primary-100: oklch(94.64% 0.033 307.2deg);
    --color-primary-200: oklch(90.24% 0.060 306.7deg);
    --color-primary-300: oklch(82.68% 0.108 306.4deg);
    --color-primary-400: oklch(72.17% 0.177 305.5deg);
    --color-primary-500: oklch(62.68% 0.233 303.9deg);
    --color-primary-600: oklch(55.75% 0.252 302.3deg);
    --color-primary-700: oklch(54.13% 0.247 293.0deg);
    --color-primary-800: oklch(49.07% 0.241 292.6deg);
    --color-primary-900: oklch(43.20% 0.211 292.8deg);
    --color-primary-950: oklch(37.96% 0.178 293.7deg);
    --color-primary-contrast-dark: oklch(0% 0 none);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-50: oklch(92.97% 0.04 351.22deg);
    --color-primary-100: oklch(87.13% 0.06 359.77deg);
    --color-primary-200: oklch(81.5% 0.09 4.8deg);
    --color-primary-300: oklch(75.75% 0.11 8.33deg);
    --color-primary-400: oklch(70.58% 0.14 11.29deg);
    --color-primary-500: oklch(65.66% 0.16 14.08deg);
    --color-primary-600: oklch(58.71% 0.16 14.73deg);
    --color-primary-700: oklch(51.79% 0.15 15.79deg);
    --color-primary-800: oklch(44.61% 0.14 17.76deg);
    --color-primary-900: oklch(37.62% 0.13 20.18deg);
    --color-primary-950: oklch(30.41% 0.12 23.17deg);
    --color-secondary-50: oklch(98.69% 0.021 95.3deg);
    --color-secondary-100: oklch(96.19% 0.058 95.6deg);
    --color-secondary-200: oklch(92.43% 0.115 95.7deg);
    --color-secondary-300: oklch(87.90% 0.153 91.6deg);
    --color-secondary-400: oklch(83.69% 0.164 84.4deg);
    --color-secondary-500: oklch(76.86% 0.165 70.1deg);
    --color-secondary-600: oklch(66.58% 0.157 58.3deg);
    --color-secondary-700: oklch(55.53% 0.146 49.0deg);
    --color-secondary-800: oklch(47.32% 0.125 46.2deg);
    --color-secondary-900: oklch(41.37% 0.105 45.9deg);
    --color-secondary-950: oklch(33.54% 0.075 52.7deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(97.71% 0.01 236.57deg);
    --color-tertiary-100: oklch(91.05% 0.05 230.21deg);
    --color-tertiary-200: oklch(84.63% 0.08 229.31deg);
    --color-tertiary-300: oklch(78.8% 0.11 229.73deg);
    --color-tertiary-400: oklch(73.29% 0.13 232.33deg);
    --color-tertiary-500: oklch(68.47% 0.15 237.31deg);
    --color-tertiary-600: oklch(63.89% 0.14 237.71deg);
    --color-tertiary-700: oklch(59.52% 0.13 237.96deg);
    --color-tertiary-800: oklch(54.78% 0.12 238.54deg);
    --color-tertiary-900: oklch(50.24% 0.11 238.97deg);
    --color-tertiary-950: oklch(45.29% 0.1 239.91deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(95.68% 0.06 150.71deg);
    --color-success-100: oklch(91.67% 0.11 148.36deg);
    --color-success-200: oklch(88.24% 0.17 146.65deg);
    --color-success-300: oklch(85.22% 0.22 145.52deg);
    --color-success-400: oklch(83.19% 0.25 144.17deg);
    --color-success-500: oklch(81.82% 0.27 143.13deg);
    --color-success-600: oklch(76.82% 0.25 143.16deg);
    --color-success-700: oklch(71.72% 0.24 143.18deg);
    --color-success-800: oklch(66.28% 0.22 143.26deg);
    --color-success-900: oklch(60.98% 0.2 143.31deg);
    --color-success-950: oklch(55.58% 0.18 143.38deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-dark);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(92.05% 0.06 316.68deg);
    --color-warning-100: oklch(83.1% 0.12 316.61deg);
    --color-warning-200: oklch(75.04% 0.18 316.58deg);
    --color-warning-300: oklch(67.84% 0.24 315.62deg);
    --color-warning-400: oklch(62.44% 0.28 314.55deg);
    --color-warning-500: oklch(58.88% 0.29 312.22deg);
    --color-warning-600: oklch(55.24% 0.27 312.23deg);
    --color-warning-700: oklch(51.52% 0.26 312.25deg);
    --color-warning-800: oklch(47.9% 0.24 312.63deg);
    --color-warning-900: oklch(44.03% 0.22 312.71deg);
    --color-warning-950: oklch(40.11% 0.2 312.77deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-dark);
    --color-warning-contrast-500: var(--color-warning-contrast-dark);
    --color-warning-contrast-600: var(--color-warning-contrast-dark);
    --color-warning-contrast-700: var(--color-warning-contrast-dark);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(97.05% 0.01 17.51deg);
    --color-error-100: oklch(89.23% 0.05 18.16deg);
    --color-error-200: oklch(81.71% 0.09 19.2deg);
    --color-error-300: oklch(74.76% 0.13 20.61deg);
    --color-error-400: oklch(68.53% 0.17 22.68deg);
    --color-error-500: oklch(63.52% 0.21 25.31deg);
    --color-error-600: oklch(59.85% 0.2 25.32deg);
    --color-error-700: oklch(56.12% 0.18 25.33deg);
    --color-error-800: oklch(52.39% 0.17 25.49deg);
    --color-error-900: oklch(48.53% 0.16 25.52deg);
    --color-error-950: oklch(44.6% 0.15 25.56deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-dark);
    --color-error-contrast-500: var(--color-error-contrast-dark);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(98.23% 0.01 17.51deg);
    --color-surface-100: oklch(91.81% 0.05 61.41deg);
    --color-surface-200: oklch(85.72% 0.09 57.32deg);
    --color-surface-300: oklch(80.07% 0.12 55.75deg);
    --color-surface-400: oklch(74.86% 0.16 52.34deg);
    --color-surface-500: oklch(70.49% 0.19 47.6deg);
    --color-surface-600: oklch(66% 0.18 46.92deg);
    --color-surface-700: oklch(61.45% 0.16 45.98deg);
    --color-surface-800: oklch(56.66% 0.15 44.5deg);
    --color-surface-900: oklch(51.93% 0.14 43.01deg);
    --color-surface-950: oklch(47.09% 0.13 41.31deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-light);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}

/* Headings */
.preset-typo-display-4,
.preset-typo-display-3,
.preset-typo-display-2,
.preset-typo-display-1,
.preset-typo-headline,
.preset-typo-title,
.preset-typo-subtitle,
.preset-typo-caption,
.preset-typo-menu,
.preset-typo-button {
    color: var(--heading-font-color);
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);

    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

/* Body */
.preset-typo-body-1,
.preset-typo-body-2,
.preset-typo-caption,
.preset-typo-menu,
.preset-typo-button {
    color: var(--heading-font-color);

    @variant dark {
        color: var(--heading-font-color-dark);
    }
}

/* Unique Properties */
.preset-typo-display-4 {
    font-size: var(--text-7xl);

    @variant lg {
        font-size: var(--text-9xl);
    }
}

.preset-typo-display-3 {
    font-size: var(--text-6xl);

    @variant lg {
        font-size: var(--text-8xl);
    }
}

.preset-typo-display-2 {
    font-size: var(--text-5xl);

    @variant lg {
        font-size: var(--text-7xl);
    }
}

.preset-typo-display-1 {
    font-size: var(--text-4xl);

    @variant lg {
        font-size: var(--text-6xl);
    }
}

.preset-typo-headline {
    font-size: var(--text-2xl);

    @variant lg {
        font-size: var(--text-4xl);
    }
}

.preset-typo-title {
    font-size: var(--text-xl);

    @variant lg {
        font-size: var(--text-3xl);
    }
}

.preset-typo-subtitle {
    font-size: var(--text-base);
    font-family: var(--heading-font-family);
    color: var(--color-surface-700-300);

    @variant lg {
        font-size: var(--text-xl);
    }
}

.preset-typo-body-1 {
    font-size: var(--text-xl);

    @variant lg {
        font-size: var(--text-3xl);
    }
}

.preset-typo-body-2 {
    font-size: var(--text-lg);

    @variant lg {
        font-size: var(--text-xl);
    }
}

.preset-typo-caption {
    font-size: var(--text-sm);
    color: var(--color-surface-700-300);
}

.preset-typo-menu {
    font-weight: bold;
}

.preset-typo-button {
    font-weight: bold;
}