[data-theme='soctheme'] {
    --text-scaling: 1.067;
    --base-font-color: var(--color-surface-950);
    --base-font-color-dark: var(--color-surface-50);
    --base-font-family: system-ui;
    --base-font-size: inherit;
    --base-line-height: inherit;
    --base-font-weight: normal;
    --base-font-style: normal;
    --base-letter-spacing: 0em;
    --heading-font-color: inherit;
    --heading-font-color-dark: inherit;
    --heading-font-family: inherit;
    --heading-font-weight: bold;
    --heading-font-style: normal;
    --heading-letter-spacing: inherit;
    --anchor-font-color: var(--color-primary-500);
    --anchor-font-color-dark: var(--color-primary-400);
    --anchor-font-family: inherit;
    --anchor-font-size: inherit;
    --anchor-line-height: inherit;
    --anchor-font-weight: inherit;
    --anchor-font-style: inherit;
    --anchor-letter-spacing: inherit;
    --anchor-text-decoration: none;
    --anchor-text-decoration-hover: underline;
    --anchor-text-decoration-active: none;
    --anchor-text-decoration-focus: none;
    --spacing: 0.25rem;
    --radius-base: 0.25rem;
    --radius-container: 0.25rem;
    --default-border-width: 1px;
    --default-divide-width: 1px;
    --default-ring-width: 1px;
    --body-background-color: var(--color-surface-50);
    --body-background-color-dark: var(--color-surface-950);
    --color-primary-50: oklch(97.96% 0.02 73.68deg);
    --color-primary-100: oklch(91.81% 0.05 61.41deg);
    --color-primary-200: oklch(85.72% 0.09 57.32deg);
    --color-primary-300: oklch(80.07% 0.12 55.75deg);
    --color-primary-400: oklch(74.86% 0.16 52.34deg);
    --color-primary-500: oklch(70.49% 0.19 47.6deg);
    --color-primary-600: oklch(66% 0.18 46.92deg);
    --color-primary-700: oklch(61.45% 0.16 45.98deg);
    --color-primary-800: oklch(56.66% 0.15 44.5deg);
    --color-primary-900: oklch(51.93% 0.14 43.01deg);
    --color-primary-950: oklch(47.09% 0.13 41.31deg);
    --color-primary-contrast-dark: var(--color-primary-950);
    --color-primary-contrast-light: var(--color-primary-50);
    --color-primary-contrast-50: var(--color-primary-contrast-dark);
    --color-primary-contrast-100: var(--color-primary-contrast-dark);
    --color-primary-contrast-200: var(--color-primary-contrast-dark);
    --color-primary-contrast-300: var(--color-primary-contrast-dark);
    --color-primary-contrast-400: var(--color-primary-contrast-dark);
    --color-primary-contrast-500: var(--color-primary-contrast-light);
    --color-primary-contrast-600: var(--color-primary-contrast-light);
    --color-primary-contrast-700: var(--color-primary-contrast-light);
    --color-primary-contrast-800: var(--color-primary-contrast-light);
    --color-primary-contrast-900: var(--color-primary-contrast-light);
    --color-primary-contrast-950: var(--color-primary-contrast-light);
    --color-secondary-50: oklch(98.69% 0.02 95.24deg);
    --color-secondary-100: oklch(93.76% 0.06 84.5deg);
    --color-secondary-200: oklch(89.22% 0.1 82.46deg);
    --color-secondary-300: oklch(84.74% 0.13 79.47deg);
    --color-secondary-400: oklch(80.72% 0.15 76.34deg);
    --color-secondary-500: oklch(76.86% 0.16 70.07deg);
    --color-secondary-600: oklch(71.42% 0.15 67.75deg);
    --color-secondary-700: oklch(65.88% 0.15 65.06deg);
    --color-secondary-800: oklch(60.42% 0.13 62.43deg);
    --color-secondary-900: oklch(54.67% 0.13 58.57deg);
    --color-secondary-950: oklch(48.81% 0.12 53.65deg);
    --color-secondary-contrast-dark: var(--color-secondary-950);
    --color-secondary-contrast-light: var(--color-secondary-50);
    --color-secondary-contrast-50: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-100: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-200: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-300: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-400: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-500: var(--color-secondary-contrast-dark);
    --color-secondary-contrast-600: var(--color-secondary-contrast-light);
    --color-secondary-contrast-700: var(--color-secondary-contrast-light);
    --color-secondary-contrast-800: var(--color-secondary-contrast-light);
    --color-secondary-contrast-900: var(--color-secondary-contrast-light);
    --color-secondary-contrast-950: var(--color-secondary-contrast-light);
    --color-tertiary-50: oklch(97.71% 0.01 236.57deg);
    --color-tertiary-100: oklch(91.05% 0.05 230.21deg);
    --color-tertiary-200: oklch(84.63% 0.08 229.31deg);
    --color-tertiary-300: oklch(78.8% 0.11 229.73deg);
    --color-tertiary-400: oklch(73.29% 0.13 232.33deg);
    --color-tertiary-500: oklch(68.47% 0.15 237.31deg);
    --color-tertiary-600: oklch(63.89% 0.14 237.71deg);
    --color-tertiary-700: oklch(59.52% 0.13 237.96deg);
    --color-tertiary-800: oklch(54.78% 0.12 238.54deg);
    --color-tertiary-900: oklch(50.24% 0.11 238.97deg);
    --color-tertiary-950: oklch(45.29% 0.1 239.91deg);
    --color-tertiary-contrast-dark: var(--color-tertiary-950);
    --color-tertiary-contrast-light: var(--color-tertiary-50);
    --color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
    --color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
    --color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
    --color-success-50: oklch(95.68% 0.06 150.71deg);
    --color-success-100: oklch(91.67% 0.11 148.36deg);
    --color-success-200: oklch(88.24% 0.17 146.65deg);
    --color-success-300: oklch(85.22% 0.22 145.52deg);
    --color-success-400: oklch(83.19% 0.25 144.17deg);
    --color-success-500: oklch(81.82% 0.27 143.13deg);
    --color-success-600: oklch(76.82% 0.25 143.16deg);
    --color-success-700: oklch(71.72% 0.24 143.18deg);
    --color-success-800: oklch(66.28% 0.22 143.26deg);
    --color-success-900: oklch(60.98% 0.2 143.31deg);
    --color-success-950: oklch(55.58% 0.18 143.38deg);
    --color-success-contrast-dark: var(--color-success-950);
    --color-success-contrast-light: var(--color-success-50);
    --color-success-contrast-50: var(--color-success-contrast-dark);
    --color-success-contrast-100: var(--color-success-contrast-dark);
    --color-success-contrast-200: var(--color-success-contrast-dark);
    --color-success-contrast-300: var(--color-success-contrast-dark);
    --color-success-contrast-400: var(--color-success-contrast-dark);
    --color-success-contrast-500: var(--color-success-contrast-dark);
    --color-success-contrast-600: var(--color-success-contrast-dark);
    --color-success-contrast-700: var(--color-success-contrast-light);
    --color-success-contrast-800: var(--color-success-contrast-light);
    --color-success-contrast-900: var(--color-success-contrast-light);
    --color-success-contrast-950: var(--color-success-contrast-light);
    --color-warning-50: oklch(92.05% 0.06 316.68deg);
    --color-warning-100: oklch(83.1% 0.12 316.61deg);
    --color-warning-200: oklch(75.04% 0.18 316.58deg);
    --color-warning-300: oklch(67.84% 0.24 315.62deg);
    --color-warning-400: oklch(62.44% 0.28 314.55deg);
    --color-warning-500: oklch(58.88% 0.29 312.22deg);
    --color-warning-600: oklch(55.24% 0.27 312.23deg);
    --color-warning-700: oklch(51.52% 0.26 312.25deg);
    --color-warning-800: oklch(47.9% 0.24 312.63deg);
    --color-warning-900: oklch(44.03% 0.22 312.71deg);
    --color-warning-950: oklch(40.11% 0.2 312.77deg);
    --color-warning-contrast-dark: var(--color-warning-950);
    --color-warning-contrast-light: var(--color-warning-50);
    --color-warning-contrast-50: var(--color-warning-contrast-dark);
    --color-warning-contrast-100: var(--color-warning-contrast-dark);
    --color-warning-contrast-200: var(--color-warning-contrast-dark);
    --color-warning-contrast-300: var(--color-warning-contrast-dark);
    --color-warning-contrast-400: var(--color-warning-contrast-light);
    --color-warning-contrast-500: var(--color-warning-contrast-light);
    --color-warning-contrast-600: var(--color-warning-contrast-light);
    --color-warning-contrast-700: var(--color-warning-contrast-light);
    --color-warning-contrast-800: var(--color-warning-contrast-light);
    --color-warning-contrast-900: var(--color-warning-contrast-light);
    --color-warning-contrast-950: var(--color-warning-contrast-light);
    --color-error-50: oklch(97.05% 0.01 17.51deg);
    --color-error-100: oklch(89.23% 0.05 18.16deg);
    --color-error-200: oklch(81.71% 0.09 19.2deg);
    --color-error-300: oklch(74.76% 0.13 20.61deg);
    --color-error-400: oklch(68.53% 0.17 22.68deg);
    --color-error-500: oklch(63.52% 0.21 25.31deg);
    --color-error-600: oklch(59.85% 0.2 25.32deg);
    --color-error-700: oklch(56.12% 0.18 25.33deg);
    --color-error-800: oklch(52.39% 0.17 25.49deg);
    --color-error-900: oklch(48.53% 0.16 25.52deg);
    --color-error-950: oklch(44.6% 0.15 25.56deg);
    --color-error-contrast-dark: var(--color-error-950);
    --color-error-contrast-light: var(--color-error-50);
    --color-error-contrast-50: var(--color-error-contrast-dark);
    --color-error-contrast-100: var(--color-error-contrast-dark);
    --color-error-contrast-200: var(--color-error-contrast-dark);
    --color-error-contrast-300: var(--color-error-contrast-dark);
    --color-error-contrast-400: var(--color-error-contrast-light);
    --color-error-contrast-500: var(--color-error-contrast-light);
    --color-error-contrast-600: var(--color-error-contrast-light);
    --color-error-contrast-700: var(--color-error-contrast-light);
    --color-error-contrast-800: var(--color-error-contrast-light);
    --color-error-contrast-900: var(--color-error-contrast-light);
    --color-error-contrast-950: var(--color-error-contrast-light);
    --color-surface-50: oklch(98.48% 0 105.52deg);
    --color-surface-100: oklch(90.39% 0 84.41deg);
    --color-surface-200: oklch(81.9% 0 56.47deg);
    --color-surface-300: oklch(73.37% 0.01 67.72deg);
    --color-surface-400: oklch(64.41% 0.01 56.27deg);
    --color-surface-500: oklch(55.34% 0.01 58.09deg);
    --color-surface-600: oklch(50.37% 0.01 62.44deg);
    --color-surface-700: oklch(45.3% 0.01 61.3deg);
    --color-surface-800: oklch(40.15% 0.01 61.25deg);
    --color-surface-900: oklch(34.76% 0.01 59.45deg);
    --color-surface-950: oklch(29.12% 0.01 67.55deg);
    --color-surface-contrast-dark: var(--color-surface-950);
    --color-surface-contrast-light: var(--color-surface-50);
    --color-surface-contrast-50: var(--color-surface-contrast-dark);
    --color-surface-contrast-100: var(--color-surface-contrast-dark);
    --color-surface-contrast-200: var(--color-surface-contrast-dark);
    --color-surface-contrast-300: var(--color-surface-contrast-dark);
    --color-surface-contrast-400: var(--color-surface-contrast-dark);
    --color-surface-contrast-500: var(--color-surface-contrast-light);
    --color-surface-contrast-600: var(--color-surface-contrast-light);
    --color-surface-contrast-700: var(--color-surface-contrast-light);
    --color-surface-contrast-800: var(--color-surface-contrast-light);
    --color-surface-contrast-900: var(--color-surface-contrast-light);
    --color-surface-contrast-950: var(--color-surface-contrast-light);
}

.bg-primary-500 {
    background-color: var(--color-primary-500);
}

.tabulator-row.tabulator-selected {
    background-color: var(--color-primary-100)
}