	.custom-lable {
		color: black;
		background: transparent;
		border: none;
		box-shadow: none;
		font-weight: medium;
		font-size: 14px;
	}

	.custom-lable:before {
		background: transparent;
		border: none;
		box-shadow: none;
	}

	.my-div-icon {
		background: green;
		border: none;
		box-shadow: none;
	}

	.leaflet-control-layers,
	.leaflet-control-zoom-in,
	.leaflet-control-zoom-out {
		background-color: #f97316 !important;
	}

	.leaflet-tooltip:not(.custom-lable),
	.leaflet-control-scale-line {
		background-color: #fed7aa;
	}